.container-removed-overflow{
  padding: 0px !important;
  overflow-x: hidden;
}



.custom-section-size {
  min-height: 50vh;
  height: fit-content;

}




@media only screen and (max-width: 867px) {
  .custom-destop-view{
    display:none;
  }
  .custom-destop-view2{
    display:none;
  }
  
.custom-header-title {
  margin-top:120px !important;
}

  
}




@media only screen and (min-width: 867px) {
  .custom-mobile-view{
    display:none;
  }
  .custom-mobile-view2{
    display:none;
  }
  
}



.custom-mobile-view{
  background-image: url("../../assets/images/landing/home/home-header.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
}

.custom-mobile-view2{
  background-image: url("../../assets/images/landing/home/aboutus.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
}


.custom-header-title {
  font-size: min(6rem, 15vw);
  font-weight: bolder;
  margin-top:160px;
}


.custom-header-paragraph {
  font-size: min(2.50rem, 10vw);
  font-weight: 200;
  word-wrap: break-word;
}

.custom-header-paragraph span {
  font-weight: 600;
}


/* ABOUT */


.custom-about-panel {
  background-color: rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(5px);
  width: 75%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .custom-about-panel {
    background-color: rgba(0, 0, 0, 0.404);
    width: 100%;
    margin: auto;
  }
}

.custom-about-title { 
  font-size: min(3.5rem, 10vw);
  font-weight: bolder;
}

.custom-about-sub {
  font-size: min(2rem, 5vw);
  font-weight: 500;
}

.custom-about-paragraph {
  font-size: min(1.25rem, 4vw);
}

.about-half-line {
  width: 45%;
  height: 0.3rem;
  background-color: #54C9EE;
}

.about-full-line {
  width: 75%;
  height: 0.3rem;
  background-color: #54C9EE;
}

/* event section */

.custom-container-events {
  background-image: url("../../assets/images/landing/home/sectionBG.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
}

.custom-btn-color {
   background-color: #54C9EE !important;
   color:white !important;
   font-weight: bolder !important;
   padding-left: 20px !important;
   padding-right: 20px !important;
   padding-top:10px !important;
   padding-bottom:10px !important;
}







/* CONTACT */

.custom-contact-bg {
  background-image: url("../../assets/images/landing/home/contactBG.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

.custom-contact-panel {
  background-color: white;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.411);
}

.custom-contact-title {
  font-size: min(3.5rem, 10vw);
  font-weight: bolder;
}

.contact-half-line-1 {
  width: 30%;
  height: 0.3rem;
  background-color: #54C9EE;
}

.contact-full-line-2 {
  width: 40%;
  height: 0.3rem;
  background-color: #54C9EE;
}

.custom-contact-label {
  width: 10rem;
  font-size: min(1.25rem, 4vw);
}

.custome-size-text{
  font-size: min(1.40rem, 4vw);

}

.custom-btn-contact {
  margin-left: 8.3rem;
}

.container-carousel{
  height:360px;
}

.custom-image{
  width:30%;
 
}